<mat-dialog-content>
  <h2>Warning</h2>
  <p>Do you really want to delete this user?</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onYes()">Oui</button>
  <button mat-button (click)="onNo()">Non</button>
</mat-dialog-actions>
