.form-edit-user {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5%;
  border-radius: 20px;
}

.user-details-page {
  background-color: antiquewhite;
  padding: 5% 20% 10% 30%;
}

.background-user {
  background-color: white;
  position: relative;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .btn-modify {
      margin-right: 5px;
    }

    .btn-delete {
      margin-left: 5px;
    }
  }

  img {
    width: 100px;
  }
}

.user-details-block {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  border-radius: 20px;
  padding: 10%;
  margin-top: 5%;

  div {
    display: flex;
  }

  .sub-title {
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
  }
}

