<div class="user-details-page">
  <button mat-raised-button class="btn-details" color="primary" [routerLink]="['/home']"><- return to home page</button>
  <div class="background-user">
    <div>
      <h1 class="name"> {{ user?.first_name }} {{ user?.last_name }} </h1>
      <img src="assets/images/user-image.png" alt="user image">
      <div class="buttons">
        <button mat-raised-button class="btn-modify" color="primary" [routerLink]="['/user-edit', user?.id]">Modifier
        </button>
        <button mat-raised-button class="btn-delete" color="warn" (click)="deleteUser()">Supprimer</button>
      </div>
    </div>
  </div>

  <div class="user-details-block">
    <div>
      <p class="sub-title"> First name : </p>
      <p> {{ user?.first_name }} </p>
    </div>

    <div>
      <p class="sub-title"> Last name : </p>
      <p> {{ user?.last_name }} </p>
    </div>

    <div>
      <p class="sub-title"> Email : </p>
      <p> {{ user?.email }} </p>
    </div>

    <div>
      <p class="sub-title"> Occupation : </p>
      <p> {{ user?.occupation }} </p>
    </div>

    <div>
      <p class="sub-title"> Bio : </p>
      <p> {{ user?.bio }} </p>
    </div>
  </div>
</div>

