<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<button mat-raised-button class="btn-details" color="primary" [routerLink]="['/user-create']">Create user</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{ row.last_name }} {{row.first_name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Occupation Column -->
    <ng-container matColumnDef="occupation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Occupation </th>
      <td mat-cell *matCellDef="let row"> {{row.occupation}} </td>
    </ng-container>

    <ng-container matColumnDef="buttons" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let row"> <button mat-raised-button class="btn-details" color="primary" [routerLink]="['/user-details', row.id]">Détails</button> <button mat-raised-button class="btn-modify" color="primary" [routerLink]="['/user-edit', row.id]">Modifier</button> <button mat-raised-button class="btn-delete" color="warn" (click)="deleteUser(row)">Supprimer</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

