.btn-modify {
  margin-right: 5px;
  margin-left: 5px;
}

.btn-delete {
  margin-left: 5px;
}

.btn-details {
  margin-right: 5px;
}

.mat-mdc-form-field {
  margin-top: 20px;
  margin-right: 20px;
}
