<div class="user-edit-page" >
  <button mat-raised-button class="btn-details" color="primary" [routerLink]="['/user-details', user?.id]">Go to user details</button>
  <form class="form-edit-user" *ngIf="user" name="userForm">
    <h1> Edit user </h1>
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput placeholder="Ex. Corentin" [(ngModel)]="user.first_name" name="first_name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput placeholder="Ex. GESSE" [(ngModel)]="user.last_name" name="last_name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex. name@domaine.com" [(ngModel)]="user.email" name="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Occupation</mat-label>
      <input matInput placeholder="Ex. manager" [(ngModel)]="user.occupation" name="occupation">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bio</mat-label>
      <textarea matInput placeholder="Ex. bio" [(ngModel)]="user.bio" name="bio"></textarea>
    </mat-form-field>

    <button mat-stroked-button color="primary" class='btn-modify' (click)="updateUser()">
      Update user
    </button>
    <button mat-stroked-button color="warn" class='btn-delete' (click)="deleteUser()">Delete user</button>
  </form>
</div>
