.form-edit-user {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5%;
  border-radius: 20px;
}

.user-edit-page {
  background-color: antiquewhite;
  padding: 5% 20% 10% 30%;
}

.btn-modify {
  margin-bottom: 5px;
}

.btn-delete {
  margin-top: 5px;
}

.btn-details {
  margin-bottom: 20px;
}
