<div class="user-edit-page" >
  <button mat-raised-button class="btn-details" color="primary" [routerLink]="['/home']"><- return to home page</button>
  <form class="form-edit-user" name="userForm">
    <h1> Create user </h1>
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput placeholder="Ex. Corentin" [(ngModel)]="first_name" name="first_name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput placeholder="Ex. GESSE" [(ngModel)]="last_name" name="last_name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex. name@domaine.com" [(ngModel)]="email" name="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Occupation</mat-label>
      <input matInput placeholder="Ex. manager" [(ngModel)]="occupation" name="occupation">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bio</mat-label>
      <textarea matInput placeholder="Ex. bio" [(ngModel)]="bio" name="bio"></textarea>
    </mat-form-field>

    <button mat-stroked-button color="primary" class='btn-modify' (click)="onSubmit()">
      Create user
    </button>
  </form>
</div>
