<h1 mat-dialog-title>Warning dialog</h1>
<div mat-dialog-content>
  <p>User was not found</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClick()" cdkFocusInitial>OK</button>
</div>
